/** Stardust */

@keyframes stardust {
  0%,
  100% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }
}

/* maybe animate the gradient when you regain your sanity */
.stardust-text {
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, #00ccff 0%, #d20fc5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@supports not (-moz-appearance: none) {
  @keyframes fallback-gradient {
    0%,
    100% {
      color: #00ccff;
    }

    50% {
      color: #d20fc5;
    }
  }

  .stardust-text {
    -webkit-background-clip: none;
    background-clip: none;
    -webkit-text-fill-color: none;
    animation: fallback-gradient 10s infinite;
    color: #00ccff;
  }
}

.stardust-letter {
  display: inline-block;
  animation: stardust 1s infinite ease-in-out;
  animation-delay: calc(0.1s * var(--i));
}

/** Love */
.love-text {
  color: #dd2e44;
}
