@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body {
  background-color: #fff9e6;
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: auto;
  max-width: 32em;
}

h1 {
  font-size: 6em;
  /* font-weight: 700; */
  margin-bottom: 0.25em;
}

p {
  font-size: 1em;
  /* font-weight: 400; */
}

.bold {
  font-weight: 700;
}

.icon {
  background-color: #000000;
  fill: #fff9e6;
  border-radius: 100%;
  padding: 0.4em;
  margin: 0.2em;
  cursor: pointer;
  transition: 200ms;
  width: 1.5em;
  height: 1.5em;
}

.icon:hover {
  background-color: #fff9e6;
  fill: #000000;
}

.tooltip {
  width: 120px;
  background-color: #000000;
  color: #fff9e6;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  margin-left: -40px;
  opacity: 0;
  transition: 500ms;
}
