.open-model {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.5rem;
  transition: background-size 0.3s;
  cursor: pointer;
}

.open-model:hover,
.open-model:focus {
  background-size: 100% 0.5rem;
}

.model {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.model:not(.open) {
  visibility: hidden;
}

.model-content {
  display: flex;
  background-color: var(--dark);
  margin: 15% auto;
  width: 60%;
  padding: 2rem;
  border-radius: 0.75rem;
}

.model-title {
  font-size: 2rem;
  margin-top: 1rem;
}

.model-close {
  color: #aaa;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  height: fit-content;
  cursor: pointer;
}

.model-left {
  flex-grow: 1;
  width: 60%;
}

.model-right {
  flex-grow: 1;
  width: 40%;
}

.skill-bar {
  width: 100%;
  height: 1rem;
  margin-top: 1.5rem;
}

.skill-segment {
  border-radius: 1rem;
  width: 22%;
  height: 100%;
  display: inline-block;
  margin-right: 0.5rem;
  background-color: #aaa;
}

.skill-bar:last-child {
  margin-right: 0;
}

.skill-inner-segment {
  height: 100%;
  border-radius: 1rem;
  background-color: var(--color);
}

.skill-level {
  margin-top: 0.25rem;
  color: var(--color);
  font-size: 1.25rem;
}
