---
layout: subpage.njk
title: home
meta: '<link rel="stylesheet" href="/css/home.css"></link>'
---

<div class="hero">
    <h1>hey, i'm aiden.
        <br />
        a<span class="role"> programmer</span> from california
    </h1>
</div>